@model ComputerStore.DTO.Types.Alaplap

@{
    ViewBag.Title = "Alaplap";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Megnevezes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Megnevezes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NettoAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NettoAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Db)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Db)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gyarto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gyarto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foglalat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foglalat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoriaFoglalat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoriaFoglalat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoriaDarab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoriaDarab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VGADarab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VGADarab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPs2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPs2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCI)
        </dd>

       

        

    </dl>
</div>