@model ComputerStore.DTO.Types.Hattertar

@{
    ViewBag.Title = "Hattertar";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Megnevezes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Megnevezes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NettoAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NettoAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Db)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Db)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gyarto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gyarto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Csatolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Csatolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meret)
        </dd>

    </dl>
</div>
