@model ComputerStore.DTO.Types.Memoria

@{
    ViewBag.Title = "Memoria";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Megnevezes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Megnevezes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NettoAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NettoAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Db)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Db)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gyarto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gyarto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foglalat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foglalat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoriaMeret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoriaMeret)
        </dd>

    </dl>
</div>
