@model ComputerStore.DTO.Types.Tapegyseg

@{
    ViewBag.Title = "Tapegyseg";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Megnevezes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Megnevezes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NettoAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NettoAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Db)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Db)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gyarto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gyarto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teljesitmeny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teljesitmeny)
        </dd>

    </dl>
</div>
