@model ComputerStore.Client.Models.ApplicationUser
@{
    ViewBag.Title = "Profil adatok módosítása";
}

@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("ChangeProfilGet", "Manage", System.Web.Mvc.FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    var user = ComputerStore.Client.Utils.SessionData.Instance.CurrentUser;
   
    @Html.AntiForgeryToken()
    <h4>Profil adatok módosítása</h4>
    <hr />

    <div class="form-group">
        <div class="row">
            @Html.Label("Felhasználónév:", new { @class = "col-md-1 pull-left" })
            <input type="text" value="@user.UserName" class="col-md-3 col-md-offset-1" name="uname" />
        </div>
        <div class="row">
            @Html.Label("E-mail cím:", new { @class = "col-md-2 pull-left" })
            <input type="text" value="@user.Email" class="col-md-3 " name="email" />
        </div>
        <div class="row">
            @Html.Label("Teljes név:", new { @class = "col-md-2 pull-left" })
            <input type="text" value="@user.FullName" class="col-md-3 " name="name" />
        </div>
        
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Módosítások mentése" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}