@model ComputerStore.Client.Models.ApplicationUser
@{
    ViewBag.Title = "Profil adatok módosítása";
}

@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("ChangeProfilGet", "Manage", System.Web.Mvc.FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    var user = ComputerStore.Client.Utils.SessionData.Instance.CurrentUser;
   
    @Html.AntiForgeryToken()
    <h2>Profil adatok módosítása</h2>
    <hr style="margin-bottom: 50px;"/>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Felhasználónév:", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                <input type="text" value="@user.UserName" class="form-control" name="uname" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("E-mail cím:", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                <input type="text" value="@user.Email" class="form-control" name="email" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Teljes név:", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                <input type="text" value="@user.FullName" class="form-control " name="name" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Módosítások mentése" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}