@model ComputerStore.Client.Models.AlaplapViewModel

@{
    ViewBag.Title = "Termék";
}


@using (Html.BeginForm("AlaplapEditSave", "Admin", System.Web.Mvc.FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>Termék módosítása</h2>
    <hr style="margin-bottom: 50px;" />
    
  <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Megnevezés:", new { @class = "col-md-2 control-label" })          
                <input type="text" value="@Model.Megnevezes" class="form-control col-md-4" name="megnev" />          
        </div>

     @Html.HiddenFor(model => model.ID)

      <div class="form-group">
          @Html.Label("Nettó Ár:", new { @class = "col-md-2 control-label" })
          <input type="number" min="0" value="@Model.NettoAr" class="form-control col-md-4" name="ar" />
      </div>

      <div class="form-group">
          @Html.Label("Raktáron:", new { @class = "col-md-2 control-label" })
          <input type="number" min="0" value="@Model.Db" class="form-control col-md-4" name="db" />
      </div>

      @*<div class="form-group ">
          @Html.Label("Leírás:", new { @class = "col-md-2 control-label" })
          <input type="text" value="@Model.Leiras" size="150" style="line-height:15px" class="form-control col-md-10" name="leiras" />
      </div>*@

      <div class="form-group ">
          @Html.Label("Ps2 port:", new { @class = "col-md-2 control-label" })
          @Html.DropDownListFor(model => model.IsPs2, new[] { new SelectListItem { Text = "Igen", Value = Boolean.TrueString }, new SelectListItem { Text = "Nem", Value = Boolean.FalseString } })
      </div>

      <div class="form-group ">
          @Html.Label("Alkatrész gyártó:", new { @class = "col-md-2 control-label" })
          @Html.DropDownListFor(model => model.Gyarto, Model.AlkatreszGyarto)
      </div>

      <div class="form-group ">
          @Html.Label("Processzor foglalat:", new { @class = "col-md-2 control-label" })
          @Html.DropDownListFor(model => model.FoglalatID, Model.ProcFoglalat)
      </div>

      <div class="form-group ">
          @Html.Label("Memória foglalat:", new { @class = "col-md-2 control-label" })
          @Html.DropDownListFor(model => model.MemoriaFoglalatID, Model.MemoriaFoglalatList)
      </div>

      <div class="form-group ">
          @Html.Label("VGA csatoló felület:", new { @class = "col-md-2 control-label" })
          @Html.DropDownListFor(model => model.VGAID, Model.VGACsatolo)
      </div>
      
      <div class="form-group ">
          @Html.Label("PCI Express típus:", new { @class = "col-md-2 control-label" })
          @Html.DropDownListFor(model => model.PCIID, Model.PCIExpressz)
      </div>

      <div class="form-group">
          @Html.Label("Memória foglalat db:", new { @class = "col-md-2 control-label" })
          <input type="number" min="0" value="@Model.MemoriaDarab" class="form-control col-md-4" name="memdb" />
      </div>

      <div class="form-group">
          @Html.Label("VGA csatoló darab:", new { @class = "col-md-2 control-label" })
          <input type="number" min="0" value="@Model.VGADarab" class="form-control col-md-4" name="vgadb" />
      </div>

    

        <div class="form-group form-button-submit">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Mentés" class="btn btn-primary" />
            </div>
        </div>
</div>
}
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}