@model ComputerStore.Client.Models.EgerViewModel

@{
    ViewBag.Title = "Termék";
}


@using (Html.BeginForm("EgerInsertSave", "Admin", System.Web.Mvc.FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

     <div class="form-group">
            @Html.Label("Kép:", new { @class = "col-md-2 control-label" })
            <div class="col-md-offset-2 col-md-10">
                <img id="uploadPreview" style="width: 100px; height: 100px;" />
                <input id="uploadImage" type="file" name="myPhoto" onchange="PreviewImage();" />
                @Html.ValidationMessageFor(model => model.Kep, "", new { @class = "text-danger" })
             </div>
        </div>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Megnevezés:", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                <input type="text"  class="form-control" name="megnev" />
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Nettó Ár:", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                <input type="number" min="0"  class="form-control" name="ar" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Raktáron:", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                <input type="number" min="0"  class="form-control" name="db" />
            </div>
        </div>

        <div class="form-group ">
            @Html.Label("Ps2 port:", new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.IsPs2, new[] { new SelectListItem { Text = "Igen", Value = Boolean.TrueString }, new SelectListItem { Text = "Nem", Value = Boolean.FalseString } }, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group ">
            @Html.Label("Alkatrész gyártó:", new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.Gyarto, Model.AlkatreszGyarto, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group ">
            @Html.Label("USB típus:", new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.UsbID, Model.USBList, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group form-button-submit">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Mentés" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

</script>
@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
}